@import '../../scss/mixins/mediaQueries.scss';
.wrapper {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 16px;
  background: #45565e 0% 0% no-repeat padding-box;
  border: 1px solid #1f343e;
  justify-content: center;

  a {
    text-decoration: none;
  }

  @include small {
    flex-direction: column;
    padding: 32px;
  }
  @include medium {
    flex-direction: column;
  }
}

.storeContainer {
  border: 1px solid #1f343e;
  border-radius: 16px;
  background: #45565e 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  padding: 8px 43px 8px 24px;
  gap: 8px;

  @include small {
    padding: 8px 24px 8px 24px;
  }
  .text {
    text-align: left;
    font: normal normal normal 16px/16px Noto Sans;
    letter-spacing: 0px;
    color: #f8f4f9;
    margin: 0;
  }

  .storeName {
    text-align: left;
    font: normal normal bold 20px/16px Gadugi;
    letter-spacing: 0px;
    color: #f8f4f9;
    margin: 0;
    padding-top: 8px;
  }
}

.reviewsContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  .iconWrapper {
    display: flex;
    padding-left: 32px;
    svg {
      color: #ffffff;
      height: 20px;
      width: 21px;
    }
    @include small {
      padding-left: 4px;
    }
  }

  .reviewsText {
    font: normal normal normal 20px/24px Noto Sans;
    letter-spacing: 0px;
    color: #ffffff;

    @include small {
      font-size: 16px;
      padding-right: 0;
    }
  }
}
