@import '../../../scss/mixins/mediaQueries.scss';

.wrapper {
  border: 1px solid #1f343e;
  background: #f8f4f9 0% 0% no-repeat padding-box;
  border-radius: 16px;
  width: 544px;
  height: 797px;
  padding: 64px;

  @include small {
    width: 343px;
    height: 581px;
    padding: 32px 16px;
  }

  .title {
    text-align: left;
    font-family: Caveat Brush;
    font-size: 48px;
    line-height: 72px;
    color: #1f343e;
    text-transform: uppercase;
    @include small {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 32px;
    }
  }

  .information {
    text-align: left;
    color: #1f343e;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 40px;

    @include small {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 24px;
    }
  }

  .message {
    text-align: left;
    color: #6d7a80;
    font-size: 16px;
    line-height: 32px;
    margin-top: 72px;

    @include small {
      line-height: 24px;
      padding-bottom: 24px;
      margin-top: 64px;
    }
  }
}
