@use '../../../../../scss/colors' as c;
@import '../../../../../scss/mixins/mediaQueries.scss';
.inputWithBtn {
  position: relative;
  @include small {
    display: none;
  }
  input {
    background: c.$color-white 0% 0% no-repeat padding-box;
    border: 1px solid c.$color-accent-dark;
    border-radius: 8px;
    outline: none;
    padding: 20px 8px 17px 20px;
    font: normal normal normal 20px/20px Noto Sans;
    color: c.$color-grey-regular;
    width: 100%;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: c.$color-blue-light;
    outline: none;
    border: 1px solid black;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: white;
    padding: 20px;
    text-align: center;
    font: normal normal bold 20px/24px Noto Sans;
    cursor: pointer;
  }
}
.mobileWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .inputMobile {
    background: c.$color-white 0% 0% no-repeat padding-box;
    border: 1px solid c.$color-accent-dark;
    border-radius: 8px;
    outline: none;
    padding: 16px 8px 13px 16px;
    font: normal normal normal 16px/16px Noto Sans;
    color: c.$color-grey-regular;
    width: 100%;
  }

  .mobileBtn {
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
  }

  @media (min-width: 400px) {
    display: none;
  }
}
