@use '../../../scss/colors.scss' as c;
@import '../../../scss/mixins/mediaQueries.scss';

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 75px;

  @include small {
    gap: 32px;
  }
  @include medium {
    gap: 32px;
  }
}

.titles {
  text-align: left;
  font: normal normal bold 20px/24px Noto Sans;
  letter-spacing: 1.6px;
  color: c.$color-accent-dark;
  text-transform: uppercase;
}
.socialWrapper {
  display: flex;
  gap: 4px;
  padding-top: 16px;
}
.imgWrapper {
  background: c.$color-blue-light 0% 0% no-repeat padding-box;
  border: 1px solid c.$color-accent-dark;
  border-radius: 8px;

  display: flex;

  img {
    width: 16px;
    height: 16px;
    padding: 8px;
    box-sizing: content-box;
  }
}
.emailFooter {
  display: flex;
  gap: 16px;
  padding-top: 16px;

  img {
    background: #f8f4f9 0% 0% no-repeat padding-box;
  }

  div {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: c.$color-accent-dark;
  }
}
