@import '../../scss/mixins/mediaQueries.scss';

.container {
  background: #f8f4f9 0% 0% no-repeat padding-box;
  border: 1px solid #1f343e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 58px;
  gap: 75px;
  padding: 10px;

  @include small {
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 32px;
  }
  @include medium {
    flex-direction: column;
    align-items: flex-start;
  }
}
.copyright {
  display: none;

  @include small {
    display: block;
    color: #6d7a80;
  }
  @include medium {
    display: block;
    color: #6d7a80;
  }
}
