.form_wrapper {
  border: 1px solid #1f343e;
  background: #f8f4f9 0% 0% no-repeat padding-box;
  border-radius: 16px;
  width: 544px;
  height: 797px;
  padding: 64px;
}

.title {
  text-align: left;
  font-family: Caveat Brush;
  font-size: 48px;
  line-height: 72px;
  color: #1f343e;
  text-transform: uppercase;
}

.information {
  text-align: left;
  color: #1f343e;
  font-size: 20px;
  line-height: 32px;
}

.email_form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .input_with_icon {
    position: relative;
    width: 100%;
    input {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #1f343e;
      border-radius: 8px;
      outline: none;
      padding: 8px 8px 8px 60px;

      width: 100%;
    }
    img {
      position: absolute;
      left: 20px;
      top: 10px;
    }
  }
}

.message {
  text-align: left;
  color: #6d7a80;
  font-size: 16px;
  line-height: 32px;
}

.input_with_btn {
  position: relative;
  height: 100px;
  width: 200px;

  input {
    width: 70%;
    height: 25px;
    padding-right: 60px;
  }
  button {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.referral_form {
  display: none;
}
