@import '../../../scss/mixins/mediaQueries.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 48px;

  &:nth-child(2) {
    flex-direction: row-reverse;
    @include small {
      flex-direction: column;
    }
    @include medium {
      flex-wrap: wrap;
    }
  }

  @include small {
    flex-direction: column;
  }
  @include medium {
    flex-wrap: wrap;
  }
}

.img_wrapper {
  width: 100%;

  img {
    width: 140px;
  }
}

.info_wrapper {
  .count {
    color: #4eb3e3;
    text-align: left;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }

  .title {
    font-family: 'Caveat Brush', cursive;
    color: #1f343e;
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    line-height: 48px;
  }

  .info {
    color: #1f343e;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    width: 256px;
  }
}
