@import '../../../scss/mixins/mediaQueries.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  @include small {
    padding: 32px 16px;
  }
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 48px;

  &:nth-child(2) {
    flex-direction: row-reverse;
    @include small {
      flex-direction: column;
      align-items: center;
    }
  }

  @include small {
    flex-direction: column;
    align-items: center;
  }
}

.imgWrapper {
  width: 100%;
  display: flex;
  img {
    width: 140px;
  }
  @include small {
    justify-content: center;
  }
}

.infoWrapper {
  .count {
    color: #4eb3e3;
    text-align: left;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    @include small {
      text-align: center;
      padding-bottom: 16px;
    }
  }

  .title {
    font-family: 'Caveat Brush', cursive;
    color: #1f343e;
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    line-height: 48px;
    @include small {
      text-align: center;
    }
  }

  .info {
    color: #1f343e;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    width: 256px;
    @include small {
      text-align: center;
      width: 350px;
      font-size: 16px;
      margin-top: 16px;
    }
  }
}
