$color-white: #ffffff;
$color-store-white: #f8f4f9;
$color-accent-dark: #1f343e;
$color-grey-dark: #434a54;
$color-blue-light: #4eb3e3;
$color-bg-store: #45565e;
$color-bg-primary: #f8cc5d;
$color-grey-regular: #6d7a80;
$color-error: #ed6f82;
