@import '../../scss/mixins/mediaQueries.scss';
.nav {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  border: 1px solid #1f343e;
  align-items: center;
  position: relative;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  @include small {
    justify-content: space-between;
    padding: 12px 9px 12px 16px;
  }
  @include medium {
    justify-content: space-between;
    padding: 12px 9px 12px 16px;
  }
}

.rightContainer {
  @include small {
    display: none;
  }
  @include medium {
    display: none;
  }
}

.linksWrapper {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
    color: #434a54;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    padding: 16px;

    &:hover {
      color: #4eb3e3;
    }

    &:active {
      color: #4eb3e3;
    }
  }
}
