.container {
  border: 1px solid #1f343e;
  background: #f8cc5d 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-around;
  padding: 64px;
}

.left_container {
}

.right_container {
}
