@use '../../scss/colors.scss' as c;
@import '../../scss/mixins/mediaQueries.scss';

.container {
  border: 1px solid c.$color-accent-dark;
  background: c.$color-bg-primary 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-evenly;
  padding: 64px;
  align-items: center;

  @include small {
    flex-direction: column;
    padding: 32px 16px;
  }
  @include medium {
    flex-direction: column;
  }
}
